* {
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0 auto;
}

/* Common Style Section */
.common-header-tital {
  font-size: 45px;
  color: #0b0223;
  font-weight: 700;
}
.common-text-color {
  color: #ff42a5;
}
.common-btn {
  padding: 20px 40px;
  font-size: 18px;
  gap: 10px;
  border-radius: 48px;
  background-color: #ff42a5;
  color: #ffffff;
  border: none;
}



/* header section */

header {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.container {
  max-width: 1440px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
}
nav > li {
  list-style: none;
  margin-right: 30px;
}
nav a {
  text-decoration: none;
}
nav > li .nav-btn {
  width: 200px;
  height: 45px;
  padding: 20px;
  background-color: rgba(216, 216, 216, 0.8);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-brands {
  margin-left: 10px;
  font-size: 20px;
}
.navigation-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
#nav-tital {
  margin-left: 30px;
}
/* Header section end */

/* Banner section start */

.banner-background-img {
  background-image: url("./images/Group\ 14.png");
  background-repeat: no-repeat;
  width: 100%;
}
.banner-container {
  max-width: 1440px;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-right: 40px;
}
.banner-text-container {
  width: 50%;
  height: 100%;
  align-items: center;
  padding-left: 40px;
}
.banner-img-container {
  max-width: 50%;
  height: 100%;
}
.banner-img {
  width: 100%;
  height: 100%;
}
.banner-text-container > li {
  list-style: none;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
h2 {
  color: #0b0223;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
}
h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  background-image: linear-gradient(to bottom, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.btn-blue {
  padding: 20px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #ffffff;
  border: none;
  font-size: 18px;
}
.fa-solid,
.fa-regular {
  margin-right: 10px;
}

/* We are gamer section */

.we-are-gamer {
  background-color: rgba(249, 243, 249, 0.893);
  margin: 0px auto;
}
.we-are-gamer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
.we-are-gamer-img-container {
  width: 60%;
}
.we-are-game-text-container {
  width: 40%;
  text-align: right;
}
.we-are-gamer-tital {
  font-size: 48px;
  background-image: linear-gradient(to bottom, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.we-are-gamer-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.epclip{
  margin-top: 20px;
width: 110px;
margin-left: 470px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.unlesh-the-game-description{
  margin-top: 10px;
}
.we-are-gamer-img {
  width: 100%;
}



/* Online games section */



.on-line-games-container{
  max-width: 1440px;
  margin: 70px auto;
  text-align: center;
}
.on-line-games-card-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.on-line-games-heading{
  font-size: 45px;
  color: #0b0223;
  font-weight: 700;
}
.common-rainbow-text{
  background-image: linear-gradient(to bottom, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.on-line-games-description{
color: #534C64;
font-size: 18px;
font-weight: 400;
margin: 20px 0 30px;
}
.on-line-games-card{
  width: 300px;
  height: 400px;
  text-align: left;
}
.card-container{
  width: 300px;
  height: 400px;
  text-align: left;
  position: relative;
}



.on-line-games-card-img{
  width: 100%;
}


/* image overlap section */


.overlap-text-container{
  max-width: 350px;
  margin-left: 220px;
}
.overlap-text-title{
  font-size: 42px;
  color: #0b0223;
  font-weight: 700;
}
.overlap-text-description{
margin-top: 30px;
}

.overlap-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  height: 550px;
  margin: 0 auto;
}
.overlap-image-first{
  width: 450px;
border-radius: 10px;
background-image: url('./images/Rectangle\ 55.png');
background-size: cover;
margin-left: 300px;
}
.overlap-image-second{
  width: 450px;
  height: 500px;
  border: 2px solid white;
  border-radius: 10px;
  background-image: url('./images/Rectangle\ 66.png');
  background-size: cover;
  transform: scale(.40) translate(-550px, 550px);
}


/* button section */


.button-section{
margin: 50px auto 0px;
background-color: rgba(249, 243, 249, 0.893);
}
.button-container{
  margin: 0 auto;
  max-width: 1440px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
align-items: center;
}
.icon-btn{
  width: 250px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}
.icon-btn:hover{
  border: 2px solid red;
  cursor: pointer;
  color: red;
}

/* footer section */
.footer-container{
  margin: 0 auto;
}
.list > li{
  color: #ffffff;
  list-style: none;
}
.list-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.footer-section{
  background-color: #0b0223;
  margin: 0 auto;
}
.footer-container{
  max-width: 1440px;
  height: 400px;
}
.f-h3{
  font-size: 45px;
  color: white;
  font-weight: 700;
}
.f-tital{
  display: flex;
  align-items: center;
  justify-content: center;
 padding-top: 40px;
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top:30px ;
}
.list-icon{
  list-style: none;
}
.fa-brands{
  size: 40px;
}
.list-icon > button{
  background-color: #0b0223;
  border: none;
  width: 50px;
}
.trams-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top:30px ;
  margin-bottom: 30px;
}
.trams-list > li{
  color: #ffffff;
  list-style: none;
}



/* Media Responsive Section */

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
  }
  nav > li {
    margin: 0px;
  }
  .navigation-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
  }
  #nav-tital {
    margin: 0px auto;
  }
  .banner-container {
    flex-direction: column;
    padding: 0px;
  }
  .banner-text-container {
    padding: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  .we-are-gamer-container{
    flex-direction: column;
  }
  .we-are-gamer-img-container,
  .we-are-game-text-container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .we-are-gamer-container{
    width: auto;
    margin: 0 auto;
  }
  .epclip{
margin: 0 auto;
  width:100%;
  text-align: center;
  white-space:normal;
  overflow: visible;
  }
  .overlap-container{
    flex-direction: column;
  }
  .overlap-image-second{
    transform: translateY(600px);
  }
  .overlap-image-first{
    margin-left: 0px;
  }
  .overlap-text-container{
    margin-left: 0px;
    margin-top: 30px;
  }

}
